In [19]:
import pandas as pd
df=pd.read_json("globalmart.json")
df

,id,sales_amt,qty,discount,profit_amt,order,product
0,4102,2.0000,0,72.948,null,"{'order_id': 'US-2017-102288', 'ship_mode': 'S...","{'product_id': 'OFF-AP-10002684', 'product_nam..."
1,2698,261.9600,2,0.000,41.9136,"{'order_id': 'CA-2014-145317', 'ship_mode': 'S...","{'product_id': 'FUR-BO-10001798', 'product_nam..."
2,6827,731.9400,3,0.000,219.582,"{'order_id': 'CA-2016-118689', 'ship_mode': 'S...","{'product_id': 'FUR-CH-10000454', 'product_nam..."
3,8154,14.6200,2,0.000,6.8714,"{'order_id': 'CA-2017-140151', 'ship_mode': 'F...","{'product_id': 'OFF-LA-10000240', 'product_nam..."
4,2624,957.5775,5,0.450,-383.031,"{'order_id': 'CA-2017-127180', 'ship_mode': 'F...","{'product_id': 'FUR-TA-10000577', 'product_nam..."
...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.941,"{'order_id': 'CA-2016-112697', 'ship_mode': 'S...","{'product_id': 'FUR-TA-10001857', 'product_nam..."
496,336,105.4200,2,0.000,51.6558,"{'order_id': 'CA-2015-137946', 'ship_mode': 'S...","{'product_id': 'OFF-EN-10001434', 'product_nam..."
497,5569,119.6160,8,0.200,40.3704,"{'order_id': 'CA-2017-157966', 'ship_mode': 'S...","{'product_id': 'OFF-BI-10002498', 'product_nam..."
498,8821,255.7600,4,0.000,81.8432,"{'order_id': 'CA-2017-100622', 'ship_mode': 'S...","{'product_id': 'FUR-FU-10004864', 'product_nam..."
499,2898,241.5680,2,0.200,18.1176,"{'order_id': 'US-2016-164630', 'ship_mode': 'S...","{'product_id': 'FUR-CH-10002602', 'product_nam..."

In [22]:
temp=[]
data=list(df.order)
data
for i in data:
    temp.append(i['order_purchase_date'])
df['order_purchase_date']=temp
df

,id,sales_amt,qty,discount,profit_amt,order,product,order_purchase_date
0,4102,2.0000,0,72.948,null,"{'order_id': 'US-2017-102288', 'ship_mode': 'S...","{'product_id': 'OFF-AP-10002684', 'product_nam...",2017-11-24 15:58:00
1,2698,261.9600,2,0.000,41.9136,"{'order_id': 'CA-2014-145317', 'ship_mode': 'S...","{'product_id': 'FUR-BO-10001798', 'product_nam...",2018-07-11 19:46:00
2,6827,731.9400,3,0.000,219.582,"{'order_id': 'CA-2016-118689', 'ship_mode': 'S...","{'product_id': 'FUR-CH-10000454', 'product_nam...",2018-05-15 20:24:00
3,8154,14.6200,2,0.000,6.8714,"{'order_id': 'CA-2017-140151', 'ship_mode': 'F...","{'product_id': 'OFF-LA-10000240', 'product_nam...",2018-02-28 13:40:00
4,2624,957.5775,5,0.450,-383.031,"{'order_id': 'CA-2017-127180', 'ship_mode': 'F...","{'product_id': 'FUR-TA-10000577', 'product_nam...",2018-01-07 21:45:00
...,...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.941,"{'order_id': 'CA-2016-112697', 'ship_mode': 'S...","{'product_id': 'FUR-TA-10001857', 'product_nam...",2018-06-13 16:07:00
496,336,105.4200,2,0.000,51.6558,"{'order_id': 'CA-2015-137946', 'ship_mode': 'S...","{'product_id': 'OFF-EN-10001434', 'product_nam...",2018-03-16 10:34:00
497,5569,119.6160,8,0.200,40.3704,"{'order_id': 'CA-2017-157966', 'ship_mode': 'S...","{'product_id': 'OFF-BI-10002498', 'product_nam...",2018-03-08 15:59:00
498,8821,255.7600,4,0.000,81.8432,"{'order_id': 'CA-2017-100622', 'ship_mode': 'S...","{'product_id': 'FUR-FU-10004864', 'product_nam...",2018-03-01 21:16:00
499,2898,241.5680,2,0.200,18.1176,"{'order_id': 'US-2016-164630', 'ship_mode': 'S...","{'product_id': 'FUR-CH-10002602', 'product_nam...",2018-03-15 18:39:00

In [30]:
df['Month']=df['order_purchase_date'].str.split('-',expand=True)[1]
df=df[df['profit_amt']!='null']
data=df.groupby(['Month'])['profit_amt'].sum().sort_values(ascending=False)
data

Month
03    5129.2084
02    1329.5155
10    1130.7502
01     905.8689
11     365.0812
04     -56.0825
07      -84.115
09    -281.3286
08    -350.6432
12    -617.9495
05    -832.6445
06   -1297.0189
Name: profit_amt, dtype: object

In [34]:
df=pd.read_json('globalmart.json')
temp=list(df.order)
orders=pd.DataFrame(temp)
orders.head()

,order_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer,vendor
0,US-2017-102288,Standard Class,delivered,2017-11-24 15:58:00,2017-11-28 03:18,2017-12-01 19:09,2017-12-15 14:58,2017-12-21,"{'customer_id': 'ZC-21910', 'customer_name': '...","{'VendorID': 'VEN04', 'Vendor Name': 'Johnsons..."
1,CA-2014-145317,Standard Class,delivered,2018-07-11 19:46:00,2018-07-13 15:25,2018-07-23 15:07,2018-07-24 14:58,2018-07-27,"{'customer_id': 'SM-20320', 'customer_name': '...","{'VendorID': 'VEN03', 'Vendor Name': 'Voyage E..."
2,CA-2016-118689,Standard Class,delivered,2018-05-15 20:24:00,2018-05-15 20:55,2018-05-29 14:59,2018-06-04 14:42,2018-06-18,"{'customer_id': 'TC-20980', 'customer_name': '...","{'VendorID': 'VEN01', 'Vendor Name': 'Velocity..."
3,CA-2017-140151,First Class,delivered,2018-02-28 13:40:00,2018-03-01 13:35,2018-03-02 00:55,2018-04-03 23:31,2018-03-28,"{'customer_id': 'RB-19360', 'customer_name': '...","{'VendorID': 'VEN02', 'Vendor Name': 'Seaborne..."
4,CA-2017-127180,First Class,delivered,2018-01-07 21:45:00,2018-01-07 21:57,2018-01-09 22:44,2018-01-30 20:51,2018-02-07,"{'customer_id': 'TA-21385', 'customer_name': '...","{'VendorID': 'VEN01', 'Vendor Name': 'Velocity..."

In [58]:
import numpy as np
orders['order_purchase_date']=pd.to_datetime(orders['order_purchase_date'])
orders=orders[orders['order_delivered_customer_date']!='null']
orders['order_delivered_customer_date']=pd.to_datetime(orders['order_delivered_customer_date'])
orders['order_estimated_delivery_date']=pd.to_datetime(orders['order_estimated_delivery_date'])
orders['delay']=(orders['order_estimated_delivery_date']-orders['order_delivered_customer_date'])/ np.timedelta64(1,'D')
orders.head()

,order_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer,vendor,delay
0,US-2017-102288,Standard Class,delivered,2017-11-24 15:58:00,2017-11-28 03:18,2017-12-01 19:09,2017-12-15 14:58:00,2017-12-21,"{'customer_id': 'ZC-21910', 'customer_name': '...","{'VendorID': 'VEN04', 'Vendor Name': 'Johnsons...",5.376389
1,CA-2014-145317,Standard Class,delivered,2018-07-11 19:46:00,2018-07-13 15:25,2018-07-23 15:07,2018-07-24 14:58:00,2018-07-27,"{'customer_id': 'SM-20320', 'customer_name': '...","{'VendorID': 'VEN03', 'Vendor Name': 'Voyage E...",2.376389
2,CA-2016-118689,Standard Class,delivered,2018-05-15 20:24:00,2018-05-15 20:55,2018-05-29 14:59,2018-06-04 14:42:00,2018-06-18,"{'customer_id': 'TC-20980', 'customer_name': '...","{'VendorID': 'VEN01', 'Vendor Name': 'Velocity...",13.387500
3,CA-2017-140151,First Class,delivered,2018-02-28 13:40:00,2018-03-01 13:35,2018-03-02 00:55,2018-04-03 23:31:00,2018-03-28,"{'customer_id': 'RB-19360', 'customer_name': '...","{'VendorID': 'VEN02', 'Vendor Name': 'Seaborne...",-6.979861
4,CA-2017-127180,First Class,delivered,2018-01-07 21:45:00,2018-01-07 21:57,2018-01-09 22:44,2018-01-30 20:51:00,2018-02-07,"{'customer_id': 'TA-21385', 'customer_name': '...","{'VendorID': 'VEN01', 'Vendor Name': 'Velocity...",7.131250

In [68]:
temp=orders[orders['delay']<-1]
temp.order_id.count()

29

In [62]:
temp=list(orders.vendor)
ven=[]
for i in temp:
    ven.append(i['VendorID'])
orders['VendorID']=ven
orders.head()

,order_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer,vendor,delay,VendorID
0,US-2017-102288,Standard Class,delivered,2017-11-24 15:58:00,2017-11-28 03:18,2017-12-01 19:09,2017-12-15 14:58:00,2017-12-21,"{'customer_id': 'ZC-21910', 'customer_name': '...","{'VendorID': 'VEN04', 'Vendor Name': 'Johnsons...",5.376389,VEN04
1,CA-2014-145317,Standard Class,delivered,2018-07-11 19:46:00,2018-07-13 15:25,2018-07-23 15:07,2018-07-24 14:58:00,2018-07-27,"{'customer_id': 'SM-20320', 'customer_name': '...","{'VendorID': 'VEN03', 'Vendor Name': 'Voyage E...",2.376389,VEN03
2,CA-2016-118689,Standard Class,delivered,2018-05-15 20:24:00,2018-05-15 20:55,2018-05-29 14:59,2018-06-04 14:42:00,2018-06-18,"{'customer_id': 'TC-20980', 'customer_name': '...","{'VendorID': 'VEN01', 'Vendor Name': 'Velocity...",13.387500,VEN01
3,CA-2017-140151,First Class,delivered,2018-02-28 13:40:00,2018-03-01 13:35,2018-03-02 00:55,2018-04-03 23:31:00,2018-03-28,"{'customer_id': 'RB-19360', 'customer_name': '...","{'VendorID': 'VEN02', 'Vendor Name': 'Seaborne...",-6.979861,VEN02
4,CA-2017-127180,First Class,delivered,2018-01-07 21:45:00,2018-01-07 21:57,2018-01-09 22:44,2018-01-30 20:51:00,2018-02-07,"{'customer_id': 'TA-21385', 'customer_name': '...","{'VendorID': 'VEN01', 'Vendor Name': 'Velocity...",7.131250,VEN01

In [69]:
ans=orders[orders['delay']<-1]
ans=ans.groupby(['VendorID'])['order_id'].count().sort_values(ascending=False)
ans

VendorID
VEN03    8
VEN02    7
VEN04    7
VEN05    4
VEN01    3
Name: order_id, dtype: int64